@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

@theme inline {
    --font-hind: var(--font-hind-siliguri);
    --font-noto: var(--font-noto-sans-bengali);
}

.button-primary {
    background-color: #05893E;
}

.button-primary:hover {
    background-color: #047A36;
}

.primary-color {
    color: #05893E;
}

.primary-bg-color {
    background-color: #F0FDF4;
    /* background-color: #E8F5EC; */
}