@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

.button-primary {
    background-color: #05893E;
}

.button-primary:hover {
    background-color: #047A36;
}

.primary-color {
    color: #05893E;
}

.primary-bg-color {
    background-color: #E8F5EC;
}